/node_modules
/public/build
/public/hot

/storage/*.key
/storage/framework/*
/storage/logs/*
!/storage/framework/.gitignore

/bootstrap/cache/*
!.env.example
.env

/vendor

.phpunit.result.cache

/.idea
/.vscode
.DS_Store

database/database.sqlite
